<div class="row app-add">
  <div class="span3 offset9">
    <%= link_to new_app_path, class: "btn btn-large btn-block btn-primary pull-right", remote: true do %>
      <span class="fui-plus"></span> Add an App
    <% end %>
  </div>
</div>

<%= render "app_list", apps: @apps %>
