.sentinal-add {
  margin-top: 10px;
}

.sentinal-list {
  .sentinal {
    margin: 20px 0;
  }

  .empty-state {
    margin: 20px 0;

    .cta {
      margin-top: 9px;
      font-size: 30px;
    }
  }
}