<div id="sentinal-list" class="row sentinal-list">
  <div class="span12">
    <% if sentinals.count == 0 %>
      <div class="row-fluid empty-state">
        <div class="span11">
          <h3>You don't have any sentinals configured, why don't you create one?</h3>
        </div>
        <div class="span1">
          <div class="cta">
            <i class="icon-arrow-up"></i>
          </div>
        </div>
    <% else %>
      <% sentinals.each do |sentinal| %>
        <%= render "sentinal", sentinal: sentinal %>
      <% end %>
    <% end %>
  </div>
</div>