<div class="row sentinal-add">
  <div class="span3 offset9">
    <%= link_to new_sentinal_path, class: "btn btn-large btn-block btn-primary pull-right", remote: true do %>
      <span class="fui-plus"></span> Add a Sentinal
    <% end %>
  </div>
</div>

<%= render "sentinal_list", sentinals: @sentinals %>